<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#2196f3" />
  <meta name="author" content="ShikigamiStudio" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="ShikigamiStudio" />
  <meta property="og:url" content="https://ayato-san.fr" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ayat0_san_" />
  <meta name="twitter:creator" content="@ayat0_san_" />
  <meta name="twitter:app:url:ipad" content="ayato-san.fr" />
  <meta name="twitter:app:url:iphone" content="ayato-san.fr" />
  <meta property="al:ios:url" content="ayato-san.fr" />

  <title inertia>ShikigamiStudio</title>

  <link rel="icon" href="/favicon.ico" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  @viteReactRefresh()
  @inertiaHead()
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
</head>

<body>
  @inertia()
</body>

</html>