<a href="{{link}}" target="_blank"
  style="line-height:16px;color:#ffffff;font-weight:400;text-decoration:none;font-size:14px;display:inline-block;padding:10px 24px;background-color:#4184F3;border-radius:5px;min-width:90px;">
  {{text}}
</a>