<a href="{{link}}" target="_blank"
  style="line-height:20px;color:#000;text-decoration:none;font-size:14px;display:inline-block;padding:8px 16px;background-color:#bfdbfe;border-radius:6px;">
  {{text}}
</a>