<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="x-apple-disable-message-reformatting">
  <style>
    @media screen and (max-width: 530px) {
      h1 {
        font-size: 24px !important;
        line-height: 32px !important;
      }
    }
  </style>
</head>

<body
  style="padding:0;word-spacing:normal;background-color:#ffffff;font-family: Arial, sans-serif;margin:0;text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">

  @if (title)
  <h1 style="color:#151515;margin-bottom:16px;font-size:36px;line-height:42px;font-weight:bold">
    {{title.toUpperCase()}}
  </h1>
  @endif

  <div>
    {{{ await $slots.main() }}}
  </div>

  <div style="margin-top:48px;margin-bottom:16px">
    <img src="{{hostUrl}}{{asset('inertia/assets/png/shikigamistudio-128x64.png') }}" alt="Logo" width="128"
      style="margin-bottom:24px;" />
    <div>
      @!icon.email({href:"https://x.com",assetUrl:"inertia/assets/png/twitter-24x24.png",alt:"twitter",hostUrl})
      @!icon.email({href:"https://instagram.com",assetUrl:"inertia/assets/png/instagram-24x24.png",alt:"instagram",hostUrl})
      @!icon.email({href:"https://facebook.com",assetUrl:"inertia/assets/png/facebook-24x24.png",alt:"facebook",hostUrl})
      @!icon.email({href:"https://tiktok.com",assetUrl:"inertia/assets/png/tiktok-24x24.png",alt:"tiktok",hostUrl})
      @!icon.email({href:"https://youtube.com",assetUrl:"inertia/assets/png/youtube-24x24.png",alt:"youtube",hostUrl})
      @!icon.email({href:"https://discord.com",assetUrl:"inertia/assets/png/discord-24x24.png",alt:"discord",hostUrl})
      @!icon.email({href:"https://twitch.tv",assetUrl:"inertia/assets/png/twitch-24x24.png",alt:"twitch",hostUrl})
      @!icon.email({href:"https://reddit.com",assetUrl:"inertia/assets/png/reddit-24x24.png",alt:"reddit",hostUrl})
      @!icon.email({href:"https://linkedin.com",assetUrl:"inertia/assets/png/linkedin-24x24.png",alt:"linkedin",hostUrl})
    </div>
    <p style="margin-bottom:24px;font-size:14px;line-height:20px;color:#525252">© 2024 ShikigamiStudio</p>
  </div>
</body>